<div class="container text-center mt-5">
    <h2 class="text-success">✅ Payment Successful</h2>
    <p>Your order has been paid successfully.</p>

    <a href="/" class="btn btn-primary mt-3">Go Home</a>
</div>